<h2>List of celebrities</h2>

<ul>
    {{#each allCeleb}}
    <li>
        <a href="/celebrities/{{_id}}">{{name}}</a>
        <form method="POST" action="/celebrities/{{_id}}/delete">
             <button>DELETE</button>
        </form>
        <form method="GET" action="/celebrities/{{_id}}/edit">
             <button>UPDATE</button>
        </form>
       
    </li>
    {{/each}}

    <a href="/celebrities/new">Ajoutez une nouvelle célébrité</a>
</ul>
