<h2>Vous voulez ajouter une nouvelle célébrité ? C'est ici. Hic et nunc.</h2>

<form method="POST">
    <label>
        Nom
        <input type="text" name="name" placeholder="Kim K">
    </label>
    <label>
        occupation
        <input type="text" name="occupation" placeholder="Influenceuse">
    </label>
    <label>
        catchPhrase
        <input type="text" name="catchPhrase" placeholder="I love sushi">
    </label>
    <button>Ajouter pour toujours</button>
</form>