<h2>Plus sur la fameuse celeb</h2>

<span>Découvrez <b>{{celeb.name}}</b> </span>
<p>Son occupation est d'être {{celeb.occupation}}</p>
<p>Elle dit souvent "{{celeb.catchPhrase}}"</p>

<a href="/celebrities">Revenir à la liste</a>