<h2>List of movies</h2>

<ul>
    {{#each allMovies}}
    <li>
        <a href="/movies/{{_id}}">{{title}}</a>
        <form method="POST" action="/movies/{{_id}}/delete">
             <button>DELETE</button>
        </form>
        <form method="GET" action="/movies/{{_id}}/edit">
             <button>UPDATE</button>
        </form>
       
    </li>
    {{/each}}

    <a href="/movies/new">Ajoutez un nouveau film</a>
</ul>
