<h2>Plus sur le film</h2>

<span>Découvrez <b>{{film.title}}</b> </span>
<p>Son genre est {{film.genre}}</p>
<p>L'histoire est la suivante "{{film.plot}}"</p>
<p>Son cast est le suivante "{{film.cast}}"</p>

<a href="/movies">Revenir à la liste</a>